@media only screen and (max-width: 1200px) {
    .popular_product {
        .box1 {
        align-items: center;
        }
    }
    .advertising {
        .photo {
            .right {
                img {
                    width: 450px;
                }
            }
        }
    }
    .designers {
        .women {
            .hoto {
                img {
                    width: 450px;
                }
            }
        }
    }
}
@media only screen and (max-width: 767px) {
    .top_container {
        .main_logo {
            .block1 {
                margin-left: 10px !important;
                form {
                    display: flex;
                    align-items: baseline;
                    button {
                        margin-left: 10px;
                    }
                }
            }
            .block2 {
                .str {
                    bottom: 0px;
                    right: 300px !important;
                }
            }
        }
    }
    .popular_product {
        .box1 {
            .text {
                flex-wrap: wrap;
                justify-content: center !important;
                a {
                    margin-top: 10px;
                }
            }
        }
        .box2 {
            .items {
                flex-wrap: wrap;
            }
            .down_but {
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                .buts {
                    flex-wrap: wrap;
                    justify-content: center;
                    .but1, .but2 {
                        margin-left: 5px !important;
                    }
                }
                p {
                    margin-top: 10px;
                }
            }
        }
    }
    .advertising {
        .photo {
            flex-wrap: wrap;
            .left {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 0 !important;
                h1 {
                    text-align: center;
                }
                button {
                    margin-bottom: 20px;
                }
            }
        }
    }
    .designers {
        .women {
            flex-wrap: wrap;
            .text_hoto {
                padding: 0 !important;
                align-items: center !important;
                text-align: center;
            }
            .strecki {
                .strel1 {
                    left: 54px !important;
                }
                .strel2 {
                    left: 108px !important;
                }
            }
        }
    }
    footer {
        .top {
            flex-wrap: wrap;
            h2 {
                margin-bottom: 20px;
            }
        }
    }
}

@media screen and (max-width: 567px) {
    .top_container {
        .top {
            .menu {
                display: none !important;
            }
        }
        .main_logo {
            .block1 {
                text-align: center;
                form {
                    flex-direction: column;
                    flex-wrap: wrap;
                    align-items: center;
                }
            }
            .block2 {
                img {
                    display: none;
                }
            }
        }
    }
    .companis {
        overflow-y: scroll;
        .name {
            img {
                margin: 0 10px;
            }
        }
    }
    .popular_product {
        .box1 {
            .text {
                text-align: center;
            }
        }
        .box2 {
            .items {
                .down_but {
                    .but1 {
                        margin-left: 0 !important;
                        margin-bottom: 10px;
                    }
                    .but2 {
                        margin-left: 0 !important;
                    }
                }
            } 
        }
    }
    .advertising {
       .photo {
        .left {
            p {
                text-align: center;
            }
        }
       } 
    }
}
@media screen and (max-width: 490px) {
    .top_container {
        padding-bottom: 20px;
    }
    .popular_product {
        .box2 {
            .items {
                flex-direction: column;
                align-items: center;
                .item1, .item2 {
                    width: 85% !important;
                }
                .item1 {
                    margin-bottom: 10px;
                }
                .down_but {
                    flex-direction: column;
                    .buts {
                        flex-direction: column;
                        align-items: center;
                    }
                }
            }
        }
    }
    .numbers {
        .num {
            flex-wrap: wrap;
        }
    }
    .advertising {
        img {
            width: 300px !important;
        }
    }
    .designers {
        .women {
            .hoto {
                img {
                    width: 300px !important;
                }
            }
        }
    }
    footer {
        .top {
            h2 {
                text-align: center;
            }
        }
        .down {
            .down_left {
                margin-bottom: 30px;
                h1 {
                    text-align: center;
                }
            }
        }
    }
}
