@media only screen and (max-width: 1409px) {
  .box2 .items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .box2 .items .item1 {
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 1200px) {
  .top_container .main_logo {
    padding-bottom: 70px;
  }
  .top_container .main_logo .main_logo_photo {
    width: 600px;
    margin-top: 50px;
  }
  .box1 .text {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .box1 p {
    margin-bottom: 10px;
  }
  .box2 .item1 {
    margin: 0px 0px 20px 0px;
  }
  .advertising .photo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .advertising .photo .left {
    padding: 0 !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin-bottom: 20px;
  }
  .designers .women {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .designers .women .text_hoto h4 {
    margin: 20px 0px 10px 0px;
  }
  .designers .women .text_hoto .img1 {
    margin: 0px 0px 30px 0px;
  }
  .designers .women .text_hoto p {
    margin: 0;
  }
  .designers .women .text_hoto .scob1 {
    top: 3px;
    left: 55px;
  }
  .designers .women .text_hoto .scob2 {
    top: 98px;
    left: 579px;
  }
  .designers .women .text_hoto .krug {
    margin-left: 0px;
  }
  .designers .women .text_hoto .strel1 {
    top: 90px;
    left: 333px;
  }
  .designers .women .text_hoto .strel2 {
    top: 90px;
    left: 385px;
  }
}
@media only screen and (max-width: 767px) {
  .top_container .top {
    padding: 40px 50px 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .top_container .top a {
    margin: 20px 5px;
  }
  .top_container .main_logo {
    margin-top: 0px !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .top_container .main_logo .block1 {
    margin-left: 0px !important;
  }
  .top_container .main_logo .block2 .str {
    top: 0px !important;
    left: 230px !important;
  }
  .companis img {
    width: 14%;
  }
  .advertising .photo .left {
    padding-right: 0px !important;
  }
  .women .text_hoto .text .scob1 {
    top: 0px;
    left: 88px;
  }
  .women .text_hoto .text .scob2 {
    top: 130px;
    left: 190px;
  }
  .women .text_hoto .strecki .strel1 {
    top: 90px;
    left: 310px;
  }
  .women .text_hoto .strecki .strel2 {
    top: 90px;
    left: 360px;
  }
  footer .top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .top h2 {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 567px) {
  .top_container .top {
    padding: 40px 50px 0 !important;
  }
  .top_container .main_logo {
    padding-bottom: 0 !important;
  }
  .top_container .main_logo .block1 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .top_container .main_logo .block1 form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .top_container .main_logo .block2 .main_logo_photo {
    width: 100%;
  }
  .top_container .main_logo .block2 .str {
    top: 29px;
    left: 170px;
  }
  .companis .name img {
    width: 15%;
  }
  .popular_product .box1 {
    text-align: center;
  }
  .popular_product .box1 .text {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .popular_product .box2 .items .item1, .popular_product .box2 .items .item2 {
    max-width: 100%;
  }
  .popular_product .box2 .items img {
    max-width: 100%;
  }
  .popular_product .box2 .items .box_lorem {
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
  }
  .popular_product .box2 .items .box_lorem h3 {
    margin: 0 !important;
  }
  .popular_product .box2 .items .box_lorem p {
    margin: 10px 0px 20px 0px !important;
  }
  .popular_product .box2 .items .down_but {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .popular_product .box2 .items .down_but .buts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .popular_product .box2 .items .down_but .buts .but1 {
    margin-left: 0px;
    margin-bottom: 10px;
  }
  .popular_product .box2 .items .down_but .buts .but2 {
    margin-left: 0px;
  }
  .popular_product .box2 .items .down_but p {
    margin-top: 20px;
    margin-right: 0px !important;
  }
  .numbers .num .num1, .numbers .num .num2, .numbers .num .num3 {
    width: 90px !important;
    text-align: center;
  }
  .numbers .num h1 {
    font-size: 29px !important;
  }
  .numbers .num p {
    text-align: center;
    font-size: 16px !important;
  }
  .advertising .photo {
    margin-top: 50px;
  }
  .advertising .photo .left h1 {
    width: 340px;
  }
  .advertising .photo .right img {
    width: 300px;
  }
  .designers .women .hoto img {
    width: 300px;
  }
  .designers .women .text_hoto {
    text-align: center;
  }
  .designers .women .text_hoto h4 {
    margin: 10px 0 10px 0px !important;
  }
  .designers .women .text_hoto .img1 {
    margin: 0 0 20px 0px !important;
  }
  .designers .women .text_hoto .text .p1 {
    width: 300px !important;
    margin: 0 !important;
  }
  .designers .women .text_hoto .text .scob1 {
    top: 0px !important;
    left: 0px !important;
  }
  .designers .women .text_hoto .text .scob2 {
    top: 255px !important;
    left: 220px !important;
  }
  .designers .women .text_hoto .strecki p {
    margin: 0;
  }
  .designers .women .text_hoto .strecki .krug {
    margin: 20px 10px 0 0 !important;
  }
  .designers .women .text_hoto .strecki .strel1 {
    top: 90px !important;
    left: 118px !important;
  }
  .designers .women .text_hoto .strecki .strel2 {
    left: 165px !important;
  }
  footer .top {
    text-align: center;
  }
  footer .dowm {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer .dowm .down_left {
    width: 215px;
  }
}
@media screen and (max-width: 375px) {
  .top_container .top .menu {
    display: none;
  }
  .top_container .popular_product .box1 h1 {
    font-size: 40px;
  }
  .top_container .popular_product .box2 .items .down_but .buts {
    width: 10%;
  }
  .top_container footer .down {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .top_container footer .down .down_left {
    margin-bottom: 20px;
  }
}